<form>
  <ion-row class="margin-top">
    <ion-col size="4">
      <ion-label>Name</ion-label>
    </ion-col>
    <ion-col size="8">
      <ion-input type="text" class="form-control" [(ngModel)]="dishData.dish_name" name="name"/>
    </ion-col>
    <div class="text-danger">{{this.nameErrorMessage}}</div>
  </ion-row>

  <ion-row class="margin-top">
    <ion-col size="4">
      <ion-label>Active</ion-label>
    </ion-col>
    <ion-col size="8">
      <ion-checkbox [(ngModel)]="dishData.active" name="active"></ion-checkbox>
    </ion-col>
  </ion-row>

  <h4>Macros for 100g</h4>
  <ion-row class="margin-top">
    <ion-col size="4">
      <ion-label>Kcal</ion-label>
    </ion-col>
    <ion-col size="8">
      <ion-input type="number" [(ngModel)]="dishData.dish_kcal" name="kcal"/>
    </ion-col>
    <div class="text-danger">{{this.kcalErrorMessage}}</div>
  </ion-row>
  <ion-row class="margin-top">
    <ion-col size="4">
      <ion-label>Prot</ion-label>
    </ion-col>
    <ion-col size="8">
      <ion-input type="number" [(ngModel)]="dishData.dish_prot" name="prot"/>
    </ion-col>
    <div class="text-danger">{{this.protErrorMessage}}</div>
  </ion-row>
  <ion-row class="margin-top">
    <ion-col size="4">
      <ion-label>Lipids</ion-label>
    </ion-col>
    <ion-col size="8">
      <ion-input type="number" [(ngModel)]="dishData.dish_lip" name="lip"/>
    </ion-col>
    <div class="text-danger">{{this.lipErrorMessage}}</div>
  </ion-row>
  <ion-row class="margin-top">
    <ion-col size="4">
      <ion-label>Carbs</ion-label>
    </ion-col>
    <ion-col size="8">
      <ion-input type="number" [(ngModel)]="dishData.dish_glu" name="glu"/>
    </ion-col>
    <div class="text-danger">{{this.gluErrorMessage}}</div>
  </ion-row>

  <h4>Image</h4>
  <ion-row class="margin-top">
    <ion-col size="4">
      <ion-label>Image url</ion-label>
    </ion-col>
    <ion-col size="8">
      <ion-input type="text" class="form-control" [(ngModel)]="dishData.image_url" name="url"/>
    </ion-col>
    <div class="text-danger">{{this.gluErrorMessage}}</div>
  </ion-row>
  <ion-img class="form-img" src="{{this.dishData.image_url != '' ? this.dishData.image_url :  'https://cdn.pixabay.com/photo/2016/10/08/18/35/help-1724292_1280.png'}}" alt=""/>

  <ion-row class="text-center">
    <ion-col size="6">
      <ion-button type="button" color="success" (click)="onSubmit()">Submit</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button type="button" color="danger" (click)="onCancel()">Cancel</ion-button>
    </ion-col>
  </ion-row>
</form>