<ion-content>
  <div class="content-wrapper">
    <h1>FAQ de MyGainz</h1>
    <p>Ici vous retrouverez les réponses aux questions les plus communes</p>

    <p>Tout d'abord, il faut savoir que MyGainz est un projet réalisé dans le cadre d'un projet universitaire dans la matière développement multimédia.</p>

    <h4>Qu'est-ce que MyGainz</h4>
    <p>MyGainz est une plateforme visant originellement à tracker ses calories, mais n'a pas eu le temps d'être complétée, elle permet donc uniquement de gérer une liste de plats</p>

    <h4>Quelle est la fonctionnalité Android ?</h4>
    <p>Cette application implémente un tracker de course permettant de donner plusieurs données sur une course.</p>
  </div>
</ion-content>