.big-margin-top{
    margin-top: 5rem;
}

.margin-top{
    margin-top: 1rem;
}

.margin-bot{
    margin-bottom: 1rem;
}

.big-margin-bot{
    margin-bottom: 5rem;
}

.card-img{
    width: 100%;
    max-height: 200px;
}

.content-wrapper{
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
}

body{
    overflow-y: scroll;
}

.show{
    display: flex;
}
.hide{
    display: none;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

.infinite-margin{
    margin: 10000px;
}

.form-img{
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.absolute-left{
    position: absolute;
    left: 10px;
}