<div class="content-wrapper">

  <div *ngIf="this.showNotFoundError; else NormalCase">
    <div class="alert alert-dismissible alert-danger">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      An error occurred preventing the dish from being loaded. Please make sure the given id is correct or try to refresh the page. If the problem persists, please contact customer support.
    </div>
  </div>

  <ng-template #NormalCase>

    <div *ngIf="this.getIsFetched(); else notFetchedBlock">

      <div class="modal" [ngClass]="{'show' : this.showModal}">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{this.modalTitle}}</h5>
              <button type="button" class="btn-close" (click)="this.hideModal()" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="false"></span>
              </button>
            </div>
            <div class="modal-body">
              {{this.modalText}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary float-right" data-bs-dismiss="modal" (click)="this.hideModal()">Cancel</button>
              <button type="button" class="btn btn-danger float-left" (click)="deleteDish()" *ngIf="this.showDeletionButton">Delete</button>
              <button type="button" class="btn btn-danger float-left" (click)="deactivateDish()" *ngIf="this.showDeactivationButton">Deactivate</button>
            </div>
          </div>
        </div>
      </div>

      <h1>{{this.getDishDetail().dish_name}}</h1>

      <h3 class="margin-top">Valeurs nutritionnelles pour 100g</h3>
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th>Calories</th>
            <th>Protéines</th>
            <th>Lipides</th>
            <th>Glucides</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{this.getDishDetail().dish_kcal}}</td>
            <td>{{this.getDishDetail().dish_prot}}</td>
            <td>{{this.getDishDetail().dish_lip}}</td>
            <td>{{this.getDishDetail().dish_glu}}</td>
          </tr>
        </tbody>
      </table>
  
  
      <ion-row class="text-center">
        <ion-col sizeXs="6" sizeMd="4" sizeLg="3">
          <button class="btn btn-danger" (click)="popDeletionConfirmationModal()" *ngIf="this.getDishDetail().active">Delete</button>
        </ion-col>
        <ion-col sizeXs="6" sizeMd="4" sizeLg="3">
          <button class="btn btn-warning" (click)="popDeactivationConfirmationModal()" *ngIf="this.getDishDetail().active">Deactivate</button>
        </ion-col>
        <ion-col sizeXs="6" sizeMd="4" sizeLg="3">
          <button class="btn btn-primary" (click)="popReactivationConfirmationModal()" *ngIf="!this.getDishDetail().active">Reactivate</button>
        </ion-col>
        <ion-col sizeXs="6" sizeMd="4" sizeLg="3">

        </ion-col>
        <button class="btn btn-primary">Edit</button>
      </ion-row>
    </div>



    <ng-template #notFetchedBlock>
      <div class="alert alert-dismissible alert-secondary">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong class="text-center">Data is being fetched</strong>
      </div>
    </ng-template>
  </ng-template>
</div>