<ion-col size="6">
  <ion-card class="card border-primary mb-3" style="max-width: 23rem;">
    <div class="card-header text-white text-center">{{this.name}}</div>
    <div class="card-body">
      <ion-row class="text-center">
        <ion-col size="6">
          <ion-row>
            <ion-col sizeMd="6" sizeXs="12" class="marin-top">
              <label class="custom-margin-top"><b>quantity :</b></label> 
            </ion-col>
            <ion-col sizeMd="6" sizeXs="12">
              <ion-input type='number' [(ngModel)]="this.qt" (change)="onUpdate()"></ion-input>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6">
          calories : {{this.displayKcal}}
        </ion-col>
        <ion-col size="6">
          proteins : {{this.displayProt}}g
        </ion-col>
        <ion-col size="6">
          lipids : {{this.displayLip}}g
        </ion-col>
        <ion-col size="6">
          carbs : {{this.displayGlu}}g
        </ion-col>
      </ion-row>
    </div>
    <div class="card-footer text-center">
      <ion-button color="danger" (click)="this.emitDelete()">Delete</ion-button>
    </div>
  </ion-card>
</ion-col>
